{%extends 'base.html'%}

{% block content %}

<div class="container-fluid">
  {% if projects %}
  <h1 class="text-center default-text">Projects</h1>
    <div class="row">
      {% for project in projects %}
        <div class="col-md-3">
                <!-- Card Light -->
      <div class="card" id="project_card">
      
        <!-- Card image -->
        <div class="view overlay">
         <a href="https://{{project.live_link}}">
           <img class="card-img-top"
           src="{{project.landing_page_image.url}}" alt="Card image cap">
         </a>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
       
        <!-- Card content -->
        <div class="card-body">
       
          <!-- Social shares button -->
          <a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>
          <!-- Title -->
          <h4 class="card-title">{{project.project_title|truncatechars:15}}</h4>
          <hr>
          <!-- Text -->
          <p class="card-text">{{project.description|truncatechars:40}}</p>
          <!-- Link -->
          <a href="{% url 'project_detail' project.pk %}" class="white-text justify-content-end btn btn-default">
            Project Details
          </a>
       
        </div>
       
       </div>
       <!-- Card Light -->
        </div>
      {% endfor %}
    </div>
{% else %}
<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">No Projects posted yet</h3>
  </div>
</div>
{% endif %}
</div>

{% endblock %}