{%extends 'base.html'%}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <!-- Card Light -->
      <div class="card" id="project_card">

        <!-- Card image -->
        <div class="view overlay">
          <a href="{{project.live_link}}">
            <img class="card-img-top" src="{{project.landing_page_image.url}}" alt="Card image cap">
          </a>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Social shares button -->
          <a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>
          <!-- Title -->
          <h4 class="card-title">{{project.project_title}}</h4>
          <hr>
          <!-- Text -->
          <p class="card-text">{{project.description}}</p>
          <p>{{ratings.comment}}</p>
          <!-- Link -->
          <a href="{% url 'project_rating' project.pk %}"
            class="white-text justify-content-end btn btn-default">Rate</a>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <!-- Card -->
<div class="card testimonial-card">

  <!-- Background color -->
  <div class="card-up indigo lighten-1"></div>

  <!-- Avatar -->
  <div class="avatar mx-auto white">
    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle"
      alt="woman avatar">
  </div>

  <!-- Content -->
  <div class="card-body">
    <!-- Name -->
    <h4 class="card-title text-center">{{user.username}}</h4>
    <hr>
    <!-- Quotation -->
    <p>
      <h5>Bio</h5>
      <p>{{user.profiles.bio}}</p>
      <h5 class="text-left">Contact info</h5>
      <ul>
        <li><span><img src="" alt=""></span></li>
        <li>{{user.contact_info.tel_number}}</li>
        <li>{{user.contact_info.facebook_u}}</li>
        <li>{{user.contact_info.tel_twiter_u}}</li>
        <li>{{user.contact_info.instagram_u}}</li>
        <li>{{user.contact_info.linkedin_u}}</li>
        <h5>Collaborate</h5>
        <li>{{user.contact_info.github_u}}</li>
      </ul>

    </p>
  </div>

</div>
<!-- Card -->
    </div>
  </div>
</div>
<!-- Card Light -->

{% endblock %}