{%extends 'base.html'%}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <!-- Card Light -->
      <div class="card" id="project_card">

        <!-- Card image -->
        <div class="view overlay">
          <a href="{{project.live_link}}">
            <img class="card-img-top" src="{{project.landing_page_image.url}}" alt="Card image cap">
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Social shares button -->
          <a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>
          <!-- Title -->
          <h4 class="card-title">{{project.project_title}}</h4>
          <hr>
          <!-- Text -->
          <p class="card-text">{{project.description}}</p>
          <p>{{ratings.comment}}</p>
          <a href="{% url 'project_rating' project.pk %}"
            class="white-text justify-content-end btn-sm btn-default mt-1 mb-1">Rate</a>
        {%if project.user == user %}
        <a class="btn-default btn-sm mt-1 mb-1" href="{% url 'project_update' project.pk %}">Update Post</a>
        <a class="btn-danger btn-sm mt-1 mb-1" href="{% url 'project_delete' project.pk %}">Delete Post</a>

          <!-- Link -->
          
        {% endif %}
            <p class="text-muted"><small>Posted by</small> {{project.user}} on {{project.post_date|date:"F d, Y"}}</p>

        </div>

      </div>
    </div>
    <div class="col-md-6">
      <!-- Card -->
<div class="card testimonial-card " id="project_card">

  <!-- Background color -->
  <div class="card-up indigo lighten-1"></div>

  <!-- Avatar -->
  <div class="avatar mx-auto white">
    <img src="{{user.profiles.profile_pic.url}}" class=" img-fluid"
      alt="woman avatar" width="150px">
  </div>

  <!-- Content -->
  <div class="card-body">
    <!-- Name -->
    <h4 class="card-title text-center">{{user.username}}</h4>
    <hr>
    <!-- Quotation -->
    <p>
      <h5>Bio</h5>
      <p>{{user.profiles.bio}}</p>
      <h5 class="text-left">Contact info</h5>
      <ul style="list-style: none;">
        <li>Email: {{user.email}}</li>
        <li>Tel No.: {{user.contact_info.tel_number}}</li>
        <li>Facebook: {{user.contact_info.facebook_u}}</li>
        <li>Twiter: {{user.contact_info.tel_twiter_u}}</li>
        <li>Instagram: {{user.contact_info.instagram_u}}</li>
        <li>Linkedin: {{user.contact_info.linkedin_u}}</li>
      </ul>

    </p>
  </div>

</div>
<!-- Card -->
    </div>
  </div>
</div>
<!-- Card Light -->

{% endblock %}